/ResolucaoFX/nbproject/private/
/ResolucaoTelaFX/nbproject/private/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/