/ResolucaoFX/nbproject/private/
/ResolucaoTelaFX/nbproject/private/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/superCalculadora/nbproject/private/
/superCalculadora/build/